.form-control {
  height: calc(3.6rem + 2px);
  border-radius: 5px;
  font-size: 1.4rem;
  border: 1px solid white;
  &:focus {
      color: #495057;
      background-color: #fff;
      border-color: white;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
}