
.mainmenu-icon-k5 {
  width: 32px;
  height: 14px
}

.mainmenu-icon-k17 {
  width: 28px;
  height: 32px
}

.mainmenu-icon-k12 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k18 {
  width: 32px;
  height: 26px
}

.mainmenu-icon-k30 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k32 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k33 {
  width: 32px;
  height: 27px
}

.mainmenu-icon-k34 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k35 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k40 {
  width: 31px;
  height: 32px
}

.mainmenu-icon-k41 {
  width: 32px;
  height: 26px
}

.mainmenu-icon-k50 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k53 {
  width: 32px;
  height: 25px
}

.mainmenu-icon-k57 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k58 {
  width: 22px;
  height: 32px
}

.mainmenu-icon-k62 {
  width: 26px;
  height: 32px
}

.mainmenu-icon-k63 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k64 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k72 {
  width: 27px;
  height: 32px
}

.mainmenu-icon-k74 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k76 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k77 {
  width: 32px;
  height: 24px
}

.mainmenu-icon-k78 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k84 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k82 {
  width: 29px;
  height: 32px
}

.mainmenu-icon-k85 {
  width: 29px;
  height: 32px
}

.mainmenu-icon-k90 {
  width: 28px;
  height: 32px
}

.mainmenu-icon-k86 {
  width: 32px;
  height: 23px
}

.mainmenu-icon-k91 {
  width: 25px;
  height: 32px
}

.mainmenu-icon-k94 {
  width: 27px;
  height: 32px
}

.mainmenu-icon-k122 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k127 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k129 {
  width: 30px;
  height: 32px
}

.mainmenu-icon-k132 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k135 {
  width: 22px;
  height: 32px
}

.mainmenu-icon-k138 {
  width: 32px;
  height: 27px
}

.mainmenu-icon-k149 {
  width: 16px;
  height: 32px
}

.mainmenu-icon-k160 {
  width: 32px;
  height: 27px
}

.mainmenu-icon-k157 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k161 {
  width: 32px;
  height: 20px
}

.mainmenu-icon-k166 {
  width: 32px;
  height: 26px
}

.mainmenu-icon-k170 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k173 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k191 {
  width: 32px;
  height: 16px
}

.mainmenu-icon-k202 {
  width: 21px;
  height: 32px
}

.mainmenu-icon-k206 {
  width: 32px;
  height: 27px
}

.mainmenu-icon-k214 {
  width: 32px;
  height: 21px
}

.mainmenu-icon-k218 {
  width: 22px;
  height: 32px
}

.mainmenu-icon-k216 {
  width: 32px;
  height: 24px
}

.mainmenu-icon-k223 {
  width: 30px;
  height: 32px
}

.mainmenu-icon-k227 {
  width: 15px;
  height: 32px
}

.mainmenu-icon-k229 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k236 {
  width: 27px;
  height: 32px
}

.mainmenu-icon-k239 {
  width: 27px;
  height: 32px
}

.mainmenu-icon-k244 {
  width: 14px;
  height: 32px
}

.mainmenu-icon-k253 {
  width: 32px;
  height: 25px
}

.mainmenu-icon-k248 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k264 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k265 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k266 {
  width: 23px;
  height: 32px
}

.mainmenu-icon-k287 {
  width: 21px;
  height: 32px
}

.mainmenu-icon-k298 {
  width: 32px;
  height: 22px
}

.mainmenu-icon-k299 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k314 {
  width: 31px;
  height: 32px
}

.mainmenu-icon-k304 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k315 {
  width: 32px;
  height: 26px
}

.mainmenu-icon-k316 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k325 {
  width: 16px;
  height: 32px
}

.mainmenu-icon-k337 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k332 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k338 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k339 {
  width: 29px;
  height: 32px
}

.mainmenu-icon-k345 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k342 {
  width: 32px;
  height: 24px
}

.mainmenu-icon-k355 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k349 {
  width: 32px;
  height: 25px
}

.mainmenu-icon-k365 {
  width: 30px;
  height: 32px
}

.mainmenu-icon-k385 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k398 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k391 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k405 {
  width: 32px;
  height: 17px
}

.mainmenu-icon-k407 {
  width: 20px;
  height: 32px
}

.mainmenu-icon-k411 {
  width: 25px;
  height: 32px
}

.mainmenu-icon-k408 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k429 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k427 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k431 {
  width: 32px;
  height: 20px
}

.mainmenu-icon-k435 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k436 {
  width: 30px;
  height: 32px
}

.mainmenu-icon-k469 {
  width: 32px;
  height: 31px
}

.mainmenu-icon-k447 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k472 {
  width: 32px;
  height: 17px
}

.mainmenu-icon-k473 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k519 {
  width: 32px;
  height: 31px
}

.mainmenu-icon-k527 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k543 {
  width: 32px;
  height: 30px
}

.mainmenu-icon-k544 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k557 {
  width: 32px;
  height: 25px
}

.mainmenu-icon-k558 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k595 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k604 {
  width: 32px;
  height: 27px
}

.mainmenu-icon-k659 {
  width: 32px;
  height: 26px
}

.mainmenu-icon-k663 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k695 {
  width: 32px;
  height: 24px
}

.mainmenu-icon-k678 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k699 {
  width: 16px;
  height: 32px
}

.mainmenu-icon-k704 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k723 {
  width: 22px;
  height: 32px
}

.mainmenu-icon-k745 {
  width: 24px;
  height: 32px
}

.mainmenu-icon-k748 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k759 {
  width: 18px;
  height: 32px
}

.mainmenu-icon-k765 {
  width: 27px;
  height: 32px
}

.mainmenu-icon-k809 {
  width: 32.02px;
  height: 32px
}

.mainmenu-icon-k869 {
  width: 28px;
  height: 32px
}

.mainmenu-icon-k886 {
  width: 26px;
  height: 32px
}

.mainmenu-icon-k887 {
  width: 32px;
  height: 28px
}

.mainmenu-icon-k888 {
  width: 20px;
  height: 32px
}

.mainmenu-icon-k943 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k967 {
  width: 23px;
  height: 32px
}

.mainmenu-icon-k995 {
  width: 32px;
  height: 21px
}

.mainmenu-icon-k996 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k998 {
  width: 19px;
  height: 32px
}

.mainmenu-icon-k1014 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k1104 {
  width: 25px;
  height: 32px
}

.mainmenu-icon-k1208 {
  width: 30px;
  height: 32px
}

.mainmenu-icon-k1226 {
  width: 32px;
  height: 18px
}

.mainmenu-icon-k1238 {
  width: 32px;
  height: 32px
}

.mainmenu-icon-k1299 {
  width: 32px;
  height: 29px
}

.mainmenu-icon-k1411 {
  width: 20px;
  height: 32px
}